_obj/
*.o
*.log
.vscode/
srcs/program
srcs/make_output.txt
*make_output.txt
program
libft/
*pipex
debug*
.DS_Store
pipex.pdf
pipex.drawio
*a.out
*test.c
*env.txt
*infile
*infile.txt
*outfile.txt
*outfile
test/
pipex_bonus
