objs/
*.o
*.log
.vscode/
srcs/program
srcs/make_output.txt
*make_output.txt
program
myLib/libft.a
pipex
debug*
srcs/myLib/libft.a
.DS_Store
pipex.pdf
pipex.drawio
*a.out
*test.c
*env.txt
*infile
*outfile.txt
*outfile